#main-nav {
  background-color: #B2DFFB;
  font-size: 25px; }
  #main-nav ul {
    width: 100%; }
    #main-nav ul:after {
      content: "";
      display: block;
      clear: both; }
  #main-nav li {
    float: left;
    width: 11%; }
    @media screen and (max-width: 600px) {
      #main-nav li {
        width: 100%; } }
  #main-nav a {
    color: red;
    text-decoration: none;
    padding: 10%;
    display: block;
    text-align: center; }
    #main-nav a:hover {
      background: gold; }

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: #B2DFFB; }
  @media screen and (max-width: 600px) {
    .flex-container {
      width: 100%; } }

.flex-container > div {
  width: 24%;
  line-height: 100px;
  margin: 1px;
  padding: 1px;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .flex-container > div {
      width: 100%; }
      .flex-container > div:after {
        content: "";
        display: block;
        clear: both; } }

header h1 {
  font-size: 25px;
  color: #b17feb;
  text-align: center; }

header h2 {
  font-size: 25px;
  color: #b17feb;
  text-align: center; }
