@import "_variables";
@import "_mixins";



//Farver
$green: #B2DFFB;
$purple: rgb(177, 127, 235);
$blue:#5F6CAF;
$offwhite: red;
$gold: gold;


//Fondstørrelse
$font-size: 25px;

//nested variabler
#main-nav{
    background-color: $green;
    font-size: $font-size;

    ul{
        width: 100%;
    //pseudo-classe (kan laves til en mixin)
        &:after {
            content:"";
            display: block;
            clear: both;
        }
    }

    li{
        float:left ;
        width: 11%;
        @include mq(600px){
            width: 100%;
        }
    }

    a{
        color: $offwhite;
        text-decoration: none;
        padding: 10%;
        display: block;
        text-align: center;
    //pseudo-classe (kan laves til en mixin)
        &:hover{
            background: gold;
        }
    }
}   

.flex-container{
    display: flex;
    flex-direction: row;
    background-color: $green;
    @include mq(600px){
        width: 100%;
    }

}

.flex-container>div{
    width: 24%;
    line-height: 100px;
    margin: 1px;
    padding: 1px;
    text-align: center;
    @include mq(600px){
        width: 100%;
        &:after {
            content:"";
            display: block;
            clear: both;
        }
    }
    }



// almindelig variabel
header h1{
    font-size: $font-size;
    color: $purple;
    text-align: center;
}

header h2{
    font-size: $font-size;
    color: $purple;
    text-align: center;
}
